
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>tetcontent</title>
</head>
<body>
    <div><h3>This is content method</h3> 
    </div>
</body>
</html>
